<a
    href="{{ button.url }}"
    class="btn btn-outline-dark rounded-pill mt-4{% if button.class %} {{ button.class }}{% endif %}"
    {% if button.target %}target="{{ button.target }}"{% endif %}
    {% if button.rel %}rel="{{ button.rel }}"{% endif %}
>{{ button.label ?? button.url }}</a>

